/node_modules
## agile-team-poker-frontend

# dependencies
agile-team-poker-frontend/node_modules
/agile-team-poker-frontend/.pnp
agile-team-poker-frontend/.pnp.js

# testing
agile-team-poker-frontend/coverage

# production
agile-team-poker-frontend/build

# misc
.DS_Store
agile-team-poker-frontend/.DS_Store
agile-team-poker-frontend/.env.local
agile-team-poker-frontend/.env.development.local
agile-team-poker-frontend/.env.test.local
agile-team-poker-frontend/.env.production.local

agile-team-poker-frontend/npm-debug.log*
agile-team-poker-frontend/yarn-debug.log*
agile-team-poker-frontend/yarn-error.log*

agile-team-poker-frontend/.env
agile-team-poker-frontend/.vscode

## agile-team-poker-backend
agile-team-poker-backend/.gitignore
agile-team-poker-backend/.vercel
agile-team-poker-backend/node_modules
# Ignore the Firebase service account file
agile-team-poker-backend/serviceAccount.json
agile-team-poker-backend/.vscode